<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
<arguments>
<argument name="collections" xsi:type="array">
<item name="arbh_auctioningsystem_products_listing_data_source"
xsi:type="string">Arbh\Auction\Model\ResourceModel
\Products\Collection
</item>
</argument>
</arguments>
</type>
<virtualType name="Arbh\Auction\Model\ResourceModel\Products\Collection"
type="Magento\Framework\View\Element\UiComponent
\DataProvider\SearchResult">
<arguments>
<argument name="mainTable" xsi:type="string">arbh_auctioning_system</argument>
<argument name="resourceModel"
xsi:type="string">Arbh\Auction\Model\ResourceModel
\Tickets</argument>
</arguments>
</virtualType>
</config>